.heading {
  text-align: center;        /* centers text horizontally */
  color: rgb(98, 110, 211);
  font-family: "Trirong", serif;
  font-size: 30px;
  margin: 20px 0; 
  margin-left: -180px;           /* spacing top & bottom */
}

.jobs-container {
  padding: 40px;
  
}

.cards-wrapper {
  display:grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-right: 200px;
  margin-left: 500px;
  
}

.job-card {
  position: relative;
  background: whitesmoke;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
}

.company {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(98, 110, 211);
}

.status {
  position: absolute;
  bottom: 16px;
  right: 20px;
  font-weight: 1000;
  font-size: 18px;
  color: #59bc6a;
  padding-right: 40px;
}